{% extends 'base.html.twig' %}

{% block title %}Projets Index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="mt-5">
				<h1>Projets Index</h1>
				<table class="table">
					<thead class="thead-dark"></thead>
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>Starting_date</th>
							<th>Deadline_date</th>
							<th>Related Tasks</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for projet in projets %}
							<tr>
								<td>{{ projet.id }}</td>
								<td>{{ projet.name }}</td>
								<td>{{ projet.Description }}</td>
								<td>{{ projet.StartingDate ? projet.StartingDate|date('Y-m-d') : '' }}</td>
								<td>{{ projet.DeadlineDate ? projet.DeadlineDate|date('Y-m-d') : '' }}</td>

								<td>
									<a href="{{ path('app_tasks_index', {'id': projet.id}) }}">Related Tasks</a>

								</td>
								<td>
									<a href="{{ path('app_projets_show', {'id': projet.id}) }}">show</a>
									<a href="{{ path('app_projets_edit', {'id': projet.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('app_projets_new') }}">Create new</a>
			</div>
		</div>
	</div>
{% endblock %}
