{{ form_start(form) }}
  {{ form_row(form.name,{
            'attr':{class :'form-control  :'}
        }) }}
        {{ form_row(form.Description,{
            'attr':{class :'form-control :'}
        }) }}
         {{ form_row(form.assign_to,{
            'attr':{class :'form-control :'}
        }) }}
         {{ form_row(form.Deadline_date,{
            'attr':{class :'form-control :'}
        }) }}
        {{ form_row(form.Priority,{
            'attr':{class :'  :'}
        }) }}
         {# {{ form_row(form.Project,{
            'attr':{class :'form-control   :'}
        }) }} #}
        

    {# {{ form_widget(form , { 'attr': {'class': 'p-2'} }) }} #}
    <button class="btn btn-ls btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
